<table>

<tr>
    <th>ID</th>
    <th>품목명</th>
    <th>관리</th>
</tr>


<tr th:each="item : ${items}">

    <td th:text="${item.id}"></td>

    <td th:text="${item.itemName}"></td>


    <td>

        <!-- 수정 -->
        <a th:href="@{/items/{id}/edit(id=${item.id})}">
            수정
        </a>


        <!-- 삭제 -->
        <form th:action="@{/items/{id}/delete(id=${item.id})}"
              method="post"
              style="display:inline">

            <button type="submit">
                삭제
            </button>

        </form>

    </td>

</tr>

</table>